.ThoiSu{
    background-color: orangered;
    stroke: orangered;
    fill: orangered;
    stroke-width: 1px solid;
    fill-opacity: 1;
}

.TheGioi{
    background-color: #8A0868;
    stroke: #8A0868;
    fill: #8A0868;
    stroke-width: 1px solid;
    fill-opacity: 1;
}

.KhoaHoc{
    background-color: blue;
    stroke: blue;
    fill: blue;
    stroke-width: 1px solid;
    fill-opacity: 1;
}

.GiaoDuc{
    background-color: #00FF00;
    stroke: #00FF00;
    fill: #00FF00;
    stroke-width: 1px solid;
    fill-opacity: 1;
}

.CongNghe{
    background-color: yellow;
    stroke: yellow;
    fill: yellow;
    stroke-width: 1px solid;
    fill-opacity: 1;
}

.PhapLuat{
    background-color: brown;
    stroke: brown;
    fill: brown;
    stroke-width: 1px solid;
    fill-opacity: 1;
}