.leftColumn, .rightColumn{
    /*border: 1px solid #ccc; !*check border *!*/
    padding: 0.2em;
}

.leftColumn {
    margin-bottom: .3em;
    padding-right: 0 !important;
}

.rightColumn {
    padding-left: 0 !important;
}

.title{
    font-family: Helvetica;
    font-size: medium;
    border: 1px solid #08088A;
    padding-top: 4px;
    padding-left: 4px;
    max-height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #08088A;
    color: white;
    font-size: 14px;
}
/*desktop screen*/
@media screen and (min-width: 768px ) {
    .leftColumn {
        margin-right: 28.5em;
        height: 100%;
        margin-top: 0px !important;
    }

    .rightColumn {
        position: absolute;
        top: 0;
        right: 0;
        width: 28.25em;
        height: auto;
    }

    .leftboxContent{
        height: -webkit-calc(100% - 24.5px);
    }

    .rightBoxContent{
        height: 86.25%;
        position: fixed;
        width: 28.05em;
    }

    .detail-table{
        padding-left: 15px;
    }

    .detail-table .scroll{
        overflow-x: hidden;
        overflow-y: scroll;
        /*height: 54%;*/
        height: 88%;
        width: 104%;
    }
}

@media (min-width: 200px) {

    .leftColumn{
        margin-top: 0px;
    }

    .detail-table{
        padding-left: 15px;
        min-height: 150px;
    }

    .topWord, .paper-content{
        display: none;
    }


}

.rightBoxContent, .leftboxContent{
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
    border-bottom: 1px solid #898989;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*.info-table{*/
    /*height: 12em;*/
    /*width:100%;*/
    /*border-bottom: 1px solid #898989;*/
/*}*/

.topWord{
    padding-right: 5px;
}

.detail-table{
    width: 100%;
}

.paper-content{
    padding-left: 15px;
    width:110%;
}

.container{
    margin-right: 0px;
    /*width: 100%;*/
}

#vis .scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 337px;
    width: 105%;
}

#vis h2{
   margin-top: 0px;
    text-align: center;
    min-height: 260px;
}

.info-table h2, .detail-table h2 {
    text-align: center;
    color: #08088A;
}

.progress-bar {
    background-color: #898989;
    color: #08088A;
    padding-left: 10px;
}