.mybar{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/*declare size of area containing navbar*/
/*.container{*/
/*min-height:40px ;*/
/*width:300px;*/
/*margin:0px auto;*/
/*}*/

.container-fluid{
    padding-right: 0;
}

.navbar {
    background-color: #0B0B61;
    min-height: 24px;
    margin-bottom: 0;
    position:absolute; /* Tells Menu to ignore the size and position of container */
    width:100%; /* This tells the the Div to be 100% in Width */
    top:0; /* This sets the menu to the top increase number for distance */
    left:0; /* This sets where it should start from left to right */
    z-index: 1;
}

.navbar-default .navbar-brand {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: white;
}

.navbar-toggle {
    /* (30px - button height 34px) / 2 = 23px */
    margin-top: 2px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {

    .navbar-default .navbar-nav > li > a {
        /* (30px - line-height of 27px) / 2 = 26.5px */
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        line-height: 27px;
        color: white;
    }

    .navbar-default .navbar-brand{
        padding-top: 0px !important;
    }

    .modal-content{
        text-align: center;
        width: 90%;
    }

    .modal-header {
        padding: 5px;
        border-bottom: 1px solid #08088A;
        background-color: #08088A;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .modal-title{
        color: white;
        font-size: 15px;
    }

    .modal-footer{
        padding: 5px;
    }

    .response-modal{
        height: 340px !important;
    }
}

.navbar-default .navbar-brand:hover{
    color: white;
}

.dropdown-menu{
    background-color: #0B0B61;
}

.dropdown-menu > li > a
{
    color: white;
}

.dropdown-header{
    color: whitesmoke;
}

/*change color of collapse tab*/
@media (min-width: 200px) {
    .response-modal{
        height: 555px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    /*change color in droplist*/
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: ghostwhite;
        text-decoration: none;
        background-color: forestgreen;
    }

    .navbar-default .navbar-nav > li > a {
        /* (30px - line-height of 27px) / 2 = 26.5px */
        /*padding-top: 2.5px;*/
        /*padding-bottom: 2.5px;*/
        /*line-height: 27px;*/
        color: white;
    }

    .nav .dropdown-menu{
        z-index: auto;
    }

    .navbar-default .navbar-brand{
        padding-top: 4px;
    }
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFCCCC;
    background-color: transparent;
}

/*change color of selected tab*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: blue;
    background-color: white;
}

/*change color of selected tab droplist*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: blue;
    background-color: white;
}



#chart-div{
    positive: relative;
}

.modal{
    overflow: scroll;
}